body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    position: absolute;
    top: 10px; 
    left: 10px;
}

.ho, .ab, .sh, .abt {
    display: inline-block; 
    margin: 2px;
    padding: 0px;
    width: 100px; 
    background: rgba(65, 59, 59, 0.5);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    text-align: center;
  
}

.ho:hover, .ab:hover, .sh:hover, .abt:hover {
    transform: scale(1.1);
    background: rgba(51, 47, 47, 0.2);
}


.about-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
}

.food-form {
    margin: 20px auto;
    padding: 15px;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.food-form label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.food-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 14px;
}

.food-form button {
    padding: 10px 20px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.food-form button:hover {
    background: #6a11cb;
}